.about-container {
  background-image: url('./../images/about4.jpg'); /* Photo by Markus Spiske on Unsplash */
  background-size: cover;
  height: 50vh;
  width: 100%;
  color: #FFFFFF;
  overflow: hidden;
  /* margin: 0; */
}

.about-container h2 {
  font-size: 1.4rem;
  width: 245px;
  padding: 16% 0 0 2%;
  line-height: 31px;
}

.about-container h3 {
  font-size: 1.2rem;
  width: 174px;
  padding: 2% 0 0 14%;
}

.all-decks-button {
  border: none;
  border-radius: 3%;
  background: #000000;
  color: #FFFFFF;
  font-weight: 800;
  text-transform: uppercase;
  padding: 3% 6%;
  font-size: 0.79rem;
  margin-right: 17%;
}

.about-button {
  margin: 3% 4% 0 0;
}

@media screen and (min-width: 600px) {
  .about-container {
    width: 100vw;
    height: 50%;
    /* margin-left: -14rem; */
  }

  .about-container h2 {
    font-size: 1.6rem;
    width: 287px;
    line-height: 38px;
    padding: 0 0 0 2%;
  }

  .about-container h3 {
    font-size: 1.3rem;
    width: 192px;
    padding: 1% 0 0 5%;
  }

  .about-button {
    margin: 1% 74% 0 0;
    font-weight: 700;
    padding: 1.3% 4%;
    font-size: 1rem;
  }
}
