.about-container {
  background-image: url('./../images/about4.jpg'); /* Photo by Markus Spiske on Unsplash */
  background-size: cover;
  height: 50vh;
  max-width: 415px;
  color: #FFFFFF;
  overflow: hidden;
}

.about-container h2 {
  font-size: 1.4rem;
  width: 245px;
  padding: 16% 0 0 2%;
  line-height: 31px;
}

.about-container h3 {
  font-size: 1.2rem;
  width: 174px;
  padding: 2% 0 0 43%;
  padding-left: 43%;
  color: black;
}

.about-container button {
  background: #000000;
  color: #FFFFFF;
  font-weight: 800;
  text-transform: uppercase;
  padding: 3% 6%;
  font-size: 0.79rem;
  margin-right: 17%;
}