.decks-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2% 5%;
}

.deck-div {
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 2%;
}