.aside-container {
  background-image: url('./../images/development.jpg'); /* Photo by Paul Esch-Laurent on Unsplash */
  background-size: cover;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.aside-container h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  margin-bottom: 1%;
}

.aside-container a {
  color: rgb(242, 131, 92);
}

@media screen and (min-width: 600px) {
  .aside-container {
    width: 100%;
    height: 500px;
  }

  .aside-container h2 {
    top: 0;
  }
}