.browse-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.browse-deck-div {
  border: 1px solid black;
  height: 175px;
  width: 175px;
  margin-bottom: 3%;
}

.browse-button {
  margin: 3% 0;
}