.browse-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.browse-deck-div {
  height: 175px;
  width: 175px;
  margin-bottom: 3%;
}

.browse-button {
  margin: 3% 0;
}

@media screen and (min-width: 600px) {
  .browse-container {
    width: 80%;
    margin: 0 auto;
  }

  .browse-deck-div {
    margin-bottom: 9%;
  }

  .all-decks-button {
    padding: 1.5% 6%;
    font-size: 0.9rem;
  }
}