.footer-container {
  background-color: #2a1a5e;
  color: #FFFFFF;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
}

.footer-nav ul {
  padding: 0px;
}

.footer-nav li {
  list-style: none;
  line-height: 1.6rem;
  color: #FFFFFF;
}

.footer-nav a {
  color: #FFFFFF;
}

.footer-nav a:hover {
  text-decoration: underline;
}

footer {
  border-top: 1px solid #FFFFFF;
  margin: 0 7%;
}

@media screen and (min-width: 600px) {
  .footer-container {
    margin-top: 20%;
  }
  
}