.footer-container {
  /* flex: 1;
  position: absolute;
  bottom: 0;
  width: 100%; */
  background-color: #d1eecc;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
}

.footer-nav ul {
  padding: 0px;
}

.footer-nav li {
  list-style: none;
}

.footer-nav a {
  color: #000000;
}