.footer-container {
  background-color: #d1eecc;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
}

.footer-nav ul {
  padding: 0px;
}

.footer-nav li {
  list-style: none;
  line-height: 1.6rem;
}

.footer-nav a {
  color: #000000;
}

.footer-nav a:hover {
  text-decoration: underline;
}

footer {
  border-top: 1px solid black;
  margin: 0 7%;
}