.get-started-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 300px; */
  margin: 0 3%;
}

.sub-headline {
  /* flex: 1; */
}

.example-card {
  background-image: url('./../images/flashcard.png');
  background-size: contain;
  border: 1px solid black;
  height: 118px;
  padding: 11% 5% 5% 5%;
}

.example-card button {
  border: none;
  border-radius: 3%;
  font-size: 0.79rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 3% 6%;
  background: #000000;
  color: #FFFFFF;
}