.get-started-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 3%;
}

.example-card {
  background-image: url('./../images/flashcard.png');
  background-size: contain;
  border: 1px solid black;
  height: 118px;
  padding: 11% 5% 5% 5%;
}

.example-card button {
  border: none;
  border-radius: 3%;
  font-size: 0.79rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 3% 6%;
  background: #000000;
  color: #FFFFFF;
}

@media screen and (min-width: 600px) {
  .get-started-container {
    flex-direction: row;
    margin: 2% 0;
  }

  .example-card {
    width: 200px;
    padding: 3% 10%;
  }

  .sub-headline {
    width: 24%;
    margin: 3%;
    line-height: 2rem;
  }
}