.title {
  font-family: 'Anonymous Pro', monospace;
  color: #000000;
  font-size: 0.7rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #ecf4f3;
  margin: 0;
  padding: 0 2%;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 50%;
}

.header-nav ul {
  display: none;
}

.header-nav a, .user-greeting {
  margin-left: 6%;
}