.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbe555;
  margin: 0;
  padding: 0 2%;
  position: relative;
  height: 75px;
}

.title {
  font-family: 'Anonymous Pro', monospace;
  color: #000000;
  font-size: 0.9rem;
}

.hamburger-container {
  display: block;
  width: 100px;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #fbe555;
  border: none;
}

.hamburger-lines {
  border: 2px solid black;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 13% auto;
  background-color: black;
  border-radius: 20%;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}

.header-nav ul {
  display: none;
}

.header-nav a, .user-greeting {
  margin-left: 6%;
}

.menu-item {
  font-size: 1.6rem;
  margin: 15%;
}

.sign-out-btn, .sign-up-btn {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: 500;
  border: none;
}

.sign-out-btn {
  font-size: 1rem;
  padding: 7% 23%;
}

.sign-up-btn {
  padding: 2% 4%;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 1.15rem;
  }

  .header-nav {
    justify-content: space-evenly;
  }

  .header-nav a {
    font-size: 1.15rem;
  }

}