.title {
  font-family: 'Anonymous Pro', monospace;
  color: #000000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #ecf4f3;
  width: 600px;
  margin: 0;
  padding: 0 2%;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
}

.header-nav li {
  list-style: none;
}

.header-topics, .header-topics li {
  list-style: none;
  display: none;
}