.new-card-form-container {
  margin: 0 auto;
}

.new-card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.new-card-form button {
  margin-top: 8%;
  font-size: 1.25rem;
  padding: 3% 11%;
  border-radius: 3%;
}

.new-card-inputs-container {
  display: flex;
  flex-direction: column;
}

.new-card-inputs-container input {
  border: 1px solid black;
  font-size: 2rem;
  padding: 22% 8%;
  margin-top: 8%;
  text-align: center;
}

.new-card-inputs-container select, option {
  
}