.card-container {
  border: 1px solid black;
}

.answer-card {
  background-image: url('./../images/flashcard.png');
  background-size: contain;
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.answer-text {
  line-height: 1.2rem;
  margin: 1%;
}